/* VARIABLES */
$color-primary: #1b3b4d;
$color-secondary: #ffa630;
$color-secondary-dark: #b27422;
$color-warning: #ff0000;
$color-success: #008000;
$color-black: #000;
$color-white: #fff;
$color-light: #efefef;
$font-size-1: 1.5rem;
$font-size-2: 1.25rem;
$font-size-3: 1rem;
$font-size-4: 0.85rem;
$font-size-5: 0.75rem;
$my-3: 0.75em;
